<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>loggy</display-name>
  
  
  <servlet>
  <servlet-name>LogsServlet</servlet-name>
  <servlet-class>LoggyApp3.servlets.LogsServlet</servlet-class>
  </servlet>

<servlet-mapping>
<servlet-name>LogsServlet</servlet-name>
<url-pattern>/logs</url-pattern>
</servlet-mapping>

</web-app>

